/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image-url:  url(../images/cover-image-dark.png);
  --accent-color: #DB00FF;
  --background-color: #000028;
  --hightlight-color: #FF0070;
  --navigation-menu-color: #FF0070;
  --navigation-menu-hover-color: #FF007066;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
