.page {
  width: 100%;
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-image-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

img {
  object-fit: contain;
  all: inherit;
}

.content {
  display: grid;
  gap: 12px;
  padding: 10px;
  background-color: var(--background-color);
}

.content_gallery_item {
  object-fit: contain;
}

.content_gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  height: 100vh;
  margin-bottom: 28px;
  padding: 10px;
}

.decorate_corner::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--hightlight-color);
  border-right: 1px solid var(--hightlight-color);
  background-color: transparent;
}

.decorate_corner::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--hightlight-color);
  border-left: 1px solid var(--hightlight-color);
  background-color: transparent;
}

.header__record-stamp {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header__record-stamp::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 4px 2px var(--hightlight-color);
  background-color: var(--hightlight-color);
}

.header__record-stamp::before {
  content: 'REC';
  position: absolute;
  top: 3px;
  right: 31px;
  color: var(--hightlight-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-content: stretch;
  gap: 12px;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  padding: 2px 12px 4px;
  color: var(--navigation-menu-color);
  font: inherit;
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--navigation-menu-hover-color);
}

.header__theme-menu-button:active {
  border-bottom: 1px solid var(--navigation-menu-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--navigation-menu-color);
}

.header__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--main-title-font-size-mobile);
  line-height: 95.7px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-shadow: 4px 4px 0 var(--hightlight-color);
}

/* .title-decor {  
  color: var(--hightlight-color);
} */

.subtitle-decor {
  color: var(--subtitle-text-color);
  background-color: var(--hightlight-color);
}

.header__description {
  display: grid;

  font-weight: 700;

  font-size: 18px;

  line-height: 23.4px;

  text-align: left;

  text-decoration-skip-ink: none;

  text-underline-position: from-font;
}

.content_article-title {
  color: var(--title-text-color);
  font-weight: bold;

  font-size: 18px;
  line-height: 23.4px;
}

.content_article-text {
  color: var(--main-text-color);

  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.content_article {
  display: grid;

  gap: 20px;
}

.content_article-section {
  display: grid;
  gap: 10px;
}

.content_article-subtitle {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.content_gallery-list {
  display: grid;
  gap: 10px;
  width: 100%;
}

.content_article-addtitle {
  margin-bottom: 12px;
}

.article_link {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-shadow: 2px 2px 0 var(--hightlight-color);
}

.article_link:hover {
  border-bottom: 1px solid var(--navigation-menu-hover-color);
}

.article_link:active {
  border: 1px solid var(--navigation-menu-hover-color);
}

.footer {
  position: relative;
  display: grid;
  justify-content: space-around;
  align-content: space-evenly;
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background-color);
}

.footer__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-shadow: 2px 2px 0 var(--shadow-text-color);
}

@media (min-width: 762px) {

  .header {
    gap: 0;
    height: 100vh;

    margin-bottom: 40px;
  }

  .header__title {
    justify-self: left;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    font-size: var(--main-title-font-size-desktop);
    line-height: 65%;
  }

  .header__theme-menu {
    align-items: self-end;
    margin-right: 10px;
  }

  .header__description {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-self: center;
    padding-right: 9px;
    padding-bottom: 0;
  }

  .header__description_text {
    grid-column-start: 2;
    align-self: self-end;
    height: 100%;
  }

  .decorate_corner::after {
    top: 20px;

    right: 20px;
  }

  .decorate_corner::before {
    bottom: 20px;

    left: 20px;
  }

  .header__record-stamp {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .content {
    gap: 79px;
    padding: 20px;
    padding-bottom: 60px;
  }

  .content_article {
    grid-template-columns: 1fr 2fr;
  }

  .content_article-section {
    grid-column: 2;
  }

  .content_article-main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  }

  .content_article-container {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
  }

  .content_article-addtitle {
    margin-bottom: 10px;
  }

  .content_sticky-title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .content_article-main > .content_article-section {
    grid-column: 1;
  }

  .content_gallery-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
    gap: 20px;
    width: 100%;
  }

  .content_gallery_item {
    overflow: hidden;
  }

  .content_article:has(.content_gallery) {
    grid-template-columns: 1fr;
  }

  .content_gallery {
    grid-row: 1 / span 2;
  }

  .img_sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .img_cream {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
    object-fit: cover;
  }

  .img_tape {
    grid-column: 1;
    grid-row: 2 / span 2;
    height: 100%;
    object-fit: cover;
  }

  .img_street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    display: grid;
    min-height: 100vh;
  }

  .footer__title {
    color: var(--accent-color);
    font-weight: 700;

    font-size: var(--main-title-font-size-desktop);
    line-height: 95.7px;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
  }
}

@media (min-width: 1024px) {

  .header {
    justify-items: center;
    padding: 20px;
  }

  .header__title {
    margin-left: -20px;
    line-height: 129.53px;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;

    margin-top: 0;
  }

  .header__description {
    gap: 0;
    padding-right: 0;
  }

  .content_article {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }

  .content_article-main {
    grid-template-columns: repeat(3, 1fr);
  }

  .content_sticky-title {
    grid-template-columns: 1fr;
  }

  .content_article-section {
    grid-template-rows: min-content 1fr;
    grid-column: 2 / 4;
  }

  .content_article-main > .content_article-section {
    grid-column: auto;
    grid-row: 2 / 3;
  }

  .footer {
    background-color: var(--background-color);
  }
}
