/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image-url:  url(../images/cover-image-dark.png);  
  --accent-color: #DB00FF;
  --background-color: #000028;
  --hightlight-color: #FF0070;
  --main-title-font-size: 116px;
}
