:root {

  --background-image-url:  url(../images/cover-image-dark.png);  
  --accent-color: #DB00FF;
  --background-color: #000028;;
  --hightlight-color: #FF0070;
  --title-text-color: #FF0070;
  --subtitle-text-color: #000028;
  --main-text-color: #F1B2CE;  
  --shadow-text-color: #FF0070;
  --navigation-menu-color: #FF0070;
  --navigation-menu-hover-color: #FF007066;  
  --main-title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
